@charset "UTF-8";

.modal {
    --bs-modal-width: 1400px;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: 0.3s;
        background: rgba($c-black, 0.8);
        z-index: -1;
    }
    .btn-close {
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        background: url(../images/common/close.png) no-repeat center center/contain;
        opacity: 1;
        width: 2em;
        height: 2em;
    }
    &-backdrop {
        z-index: 0;
    }
    &-content {
        height: 40em;
        padding: 4em;
        background-color: $c-black;
        border-radius: 0.5em;
    }
    &-body {
        padding: 0;
        position: static;
    }
    &__gradient {
        position: absolute;
        width: calc(100% + 0.6em);
        height: calc(100% + 0.6em);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(135deg, rgba(224,73,228,1) 0%,rgba(9,97,218,1) 100%);
        filter: blur(0.5em);
        border-radius: 0.5em;
        z-index: -1;
    }
    &__box {
        background-color: $c-black;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        p {
            // font-family: $font-cubic;
            color: $c-white;
            transform: none;
        }
        ::-webkit-scrollbar {
            width: 7px;
        }
        ::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }
        ::-webkit-scrollbar-track-piece {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.4);
            border: 1px solid slategrey;
        }
        ::-webkit-scrollbar-track {
            box-shadow: transparent;
        }

    }
    &__title {
        margin-bottom: 2em;
        p {
            font-size: 2.6em;
            text-align: center;
            letter-spacing: 0.2em;
            margin-bottom: 0;
            font-family: $font-cubic;
        }
    }
    &__detail {
        &__item {
            margin-bottom: 2em;
        }
        h3 {
            // font-family: $font-cubic;
            color: $c-white;
            font-weight: bold;
            font-size: 1.7em;
            letter-spacing: 0.1em;
        }
        p {
            font-size: 1.5em;
            line-height: 1.7em;
            &.bold {
                font-weight: 600;
            }
        }
        ul, ol {
            color: $c-white;
        }
        li {
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: inline-block;
                color: $c-white;
                &:hover {
                    color: $c-white;
                }
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .modal {
        &__title {
            p {
                font-size: 2.8em;
            }
        }
        &__detail {
            &__item {
                margin-bottom: 2em;
            }
            h3 {
                // font-family: $font-cubic;
                color: $c-white;
                font-weight: bold;
                font-size: 2.1em;
                letter-spacing: 0.1em;
            }
            p {
                font-size: 1.9em;
                line-height: 1.7em;
                &.bold {
                    font-weight: 600;
                }
            }
            ul, ol {
                color: $c-white;
            }
            li {
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    color: $c-white;
                    &:hover {
                        color: $c-white;
                    }
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}