@charset "UTF-8";

.tag {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 19em;
    img {
        width: 100%;
        height: auto;
    }
    &__text {
        position: absolute;
        width: 93%;
        height: 68%;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            @include text_glow($c-blue);
            font-size: 1.7em;
            line-height: 1.5;
        }
    }
    &-red {
        .tag__text {
            p {
                @include text_glow($c-red);
            }
        }
    }
}

@media (max-width: 992px) {
    .tag {

    }
    .wrapper--horizontal {
        .tag {

        }
    }
    .wrapper--fb {
        &.wrapper--horizontal  {
            .tag {

            }
        }
    }
}