@charset "UTF-8";

.challenge {
    .bg {
        filter: blur(0.1em) brightness(0.4);
    }
    .section__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__ques {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5em;
        p {
            color: $c-white;
            font-size: 2.5em;
            line-height: 1.7;
            font-weight: 600;
            letter-spacing: 0.1em;
            
            .small {
                font-size: 0.9em;
                font-weight: 400;
                letter-spacing: 0;
            }
        }
        img {
            display: block;
            width: 9em;
            margin: 0 auto;
            margin-top: 1em;
        }
        &-6 {
            margin-bottom: 3em;
            p {
                font-size: 2.3em;
            }
        }
    }
    &__answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            width: 100%;
            height: auto;
            padding: 1em 3em;
            box-shadow: 0 0 0.25em rgba($c-white, 1), 0 0 0.5em rgba($c-white, 1);
            border: 1px solid rgba($c-white, 0.9);
            border-radius: 1em;
            background-color: rgba($c-white, 0.1);
            margin-bottom: 2em;
            transition: 0.5s;
            p {
                color: $c-white;
                font-size: 2em;
                line-height: 1.7;
                letter-spacing: 0.1em;
            }
            &.wrong {
                box-shadow: 0 0 0.5em rgba($c-black, 0.5), 0 0 1em rgba($c-black, 0.5);
                background-color: rgba($c-black, 0.3);
                p {
                    text-shadow: none;
                    color: rgba($c-white, 0.5);
                }
            }
            &.right {
                box-shadow: 0 0 1em rgba($c-green, 1), 0 0 1.5em rgba($c-green, 1);
                border: 0.5em solid rgba($c-green, 0.9);
                background-color: rgba($c-white, 0.8);
                transform: scale(1.2);
                p {
                    @include text_glow($c-white);
                    color: $c-green;
                    font-weight: 600;
                }
            }
        }
        &-col1 {
            width: auto;
            padding: 0 6em;
            flex-direction: column;
            .challenge__answers__item {
                width: auto;
                min-width: 51em;
                max-width: 90em;
            }
        }
        &-col2 {
            width: 73em;
            .challenge__answers__item {
                width: 46%;
                margin-right: 4%;
                margin-bottom: 3em;
            }
        }
    }
    &__buttons {
        display: flex;
        position: absolute;
        right: 5em;
        bottom: 5em;
        opacity: 0;
        visibility: hidden;
        &__item {
            cursor: pointer;
            width: 10em;
            height: 10em;
            margin: 1em;
            background-color: rgba($c-black, 0.7);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5em solid rgba($c-green, 0.8);
            p {
                display: inline-block;
                margin-bottom: 0;
                font-size: 2.3em;
                color: rgba($c-white, 0.8);
                line-height: 1;
            }
            &-ninesquare {
                border: 0.5em solid rgba(rgb(255, 217, 0), 0.8);
            }
        }
    }
    &__annouce {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        margin-top: -11em;
        margin-left: -30em;
        pointer-events: none;
        p {
            text-align: center;
            margin-bottom: 0;
            font-size: 15em;
            @include text_glow($c-red);
        }
    }
}

@media (max-width: 992px) {
    .challenge {
        
    }
}