@charset "UTF-8";

.landing {
    &>.bg {
        top: 50%;
        filter: brightness(0.4) blur(0.1em);
    }
    &__title {
        // opacity: 0;
        // visibility: hidden;
        position: absolute;
        top: 20.4%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h1 {
            margin-bottom: 0;
            font-size: 6em;
            line-height: 1;
            @include cubic_glow($c-blue);
        }
    }
    &__intro {
        // display: none;
        position: absolute;
        top: 50.8%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        p {
            @include cubic_glow($c-blue);
            text-align: center;
            margin-bottom: 0;
            font-size: 2.5em;
            line-height: 1.5;
            letter-spacing: 0.2em;
        }
    }
    .section__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        color: $c-white;
    }
    &__arrow {
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        mix-blend-mode: lighten;
        cursor: pointer;
        img {
            position: relative;
            display: inline-block;
            height: auto;
            &:nth-child(1) {
                width: 10em;
            }
            &:nth-child(2) {
                width: 8em;
                top: -1.2em;
            }
            &:nth-child(3) {
                width: 6em;
                top: -2em;
                // display: none;
            }
            &:nth-child(4) {
                width: 4em;
                top: -2.3em;
                // display: none;
            }
            &:nth-child(5) {
                width: 2em;
                top: -2.2em;
                // display: none;
            }
        }
    }
    
}

@media (max-width: 992px) {
    .landing {
        &>.bg {
            top: 48%;
        }
        &__arrow {
            left: 50.5%;
            top: 78%;
        }
    }
    .wrapper--horizontal {
    }
}