@charset "UTF-8";

.strongpoint {
    &__discount {
        position: absolute;
        left: 47%;
        top: 3em;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        &__main {
            position: relative;
            width: 34em;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__text {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -0.5em;
            p {
                @include text_glow($c-purple);
                font-size: 1.6em;
            }
        }
        &__desc {
            p {
                @include text_glow($c-red);
                font-size: 1.9em;
                white-space: nowrap;
                .small {
                    font-size: 0.8em;
                }
            }
        }
    }
    &__list {
        position: absolute;
        width: 81em;
        height: 38em;
        left: 49.5%;
        top: 50%;
        transform: translate(-50%, -50%);
        // border: green 1px solid;
        padding: 9em 6em;
        p {
            font-size: 1.45em;
            margin-bottom: 0;
        }
        &__hr {
            margin: 0.7em 0 1.2em;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__head {
            .strongpoint__list__item {
                margin-bottom: 0;
            }
        }
        &__item {
            display: flex;
            margin-bottom: 1.5em;
        }
        &__store {
            p {
                @include text_glow($c-red);
            }
            flex: 0 0 22em;
            // border: orange 1px solid;
        }
        &__phone {
            p {
                @include text_glow($c-purple);
            }
            flex: 0 0 16em;
            // border: pink 1px solid;
        }
        &__addr {
            p {
                @include text_glow($c-purple);
                white-space: nowrap;
            }
            flex: 1;
        }
    }
    &__voucher {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        &__desc {
            margin-top: 3.8em;
            p {
                @include text_glow($c-blue);
                font-size: 1.3em;
                line-height: 1.5;
                white-space: nowrap;
                text-align: right;
                .small {
                    font-size: 0.8em;
                }
            }
        }
        &__pic {
            width: 6.5em;
            margin: 0 0.5em;
            img {
                width: 100%;
                height: auto;
            }
        }
        button {
            margin-top: 6.8em;
        }
    }
}

@media (max-width: 992px) {
    .strongpoint {
        &__discount {
            top: 1em;
            &__main {
                width: 33em;
            }
            &__desc {
                p {
                    font-size: 1.5em;
                }
            }
        }
        &__voucher {
            width: 100%;
            flex-wrap: wrap;
            align-items: flex-end;
            &__desc {
                position: relative;
                top: -5em;
                p {
                    font-size: 1.4em;
                    text-align: center;
                    .small {
                        font-size: 1em;
                    }
                }
            }
            &__pic {
                position: relative;
                top: 12em;
            }
            button {
                margin: 0 20em;
                position: relative;
                top: -0.5em;
            }
        }
        &__list {
            top: 43%;
            padding: 9em 4em;
            p {
                font-size: 1.6em;
            }
            &__phone {
                flex: 0 0 17.5em;
            }
        }
    }
}