@charset "UTF-8";

@mixin text_glow($color: "#5db4e0", $shadow: 0.1em, $shadow2: 0.2em){
    font-family: $font-cubic;
    color: $c-white;
    text-shadow: 0 0 $shadow rgba($color, 0.85), 0 0 $shadow2 rgba($color, 0.85);
    letter-spacing: 0.2em;
}